x00_pop_housing_counts.csv filter=lfs diff=lfs merge=lfs -text
x01_age_sex.csv filter=lfs diff=lfs merge=lfs -text
x02_race.csv filter=lfs diff=lfs merge=lfs -text
x03_hispanic_or_latino.csv filter=lfs diff=lfs merge=lfs -text
x04_ancestry.csv filter=lfs diff=lfs merge=lfs -text
x05_foreign_born_citizenship.csv filter=lfs diff=lfs merge=lfs -text
x06_place_of_birth.csv filter=lfs diff=lfs merge=lfs -text
x15_education.csv filter=lfs diff=lfs merge=lfs -text
x14_school_enrollment.csv filter=lfs diff=lfs merge=lfs -text
x16_language_spoken_at_home.csv filter=lfs diff=lfs merge=lfs -text
x19_income.csv filter=lfs diff=lfs merge=lfs -text
x24_industry_occupation.csv filter=lfs diff=lfs merge=lfs -text
x25_housing_characteristics.csv filter=lfs diff=lfs merge=lfs -text
x07_migration.csv filter=lfs diff=lfs merge=lfs -text
x08_commuting.csv filter=lfs diff=lfs merge=lfs -text
x09_children_household_relationship.csv filter=lfs diff=lfs merge=lfs -text
x10_grandparents_grandchildren.csv filter=lfs diff=lfs merge=lfs -text
x11_household_family_subfamilies.csv filter=lfs diff=lfs merge=lfs -text
x12_marital_status_history.csv filter=lfs diff=lfs merge=lfs -text
x13_fertility.csv filter=lfs diff=lfs merge=lfs -text
x17_poverty.csv filter=lfs diff=lfs merge=lfs -text
x18_disability.csv filter=lfs diff=lfs merge=lfs -text
x20_earnings.csv filter=lfs diff=lfs merge=lfs -text
x21_veteran_status.csv filter=lfs diff=lfs merge=lfs -text
x22_food_stamps.csv filter=lfs diff=lfs merge=lfs -text
x23_employment_status.csv filter=lfs diff=lfs merge=lfs -text
x26_group_quarters.csv filter=lfs diff=lfs merge=lfs -text
x27_health_insurance.csv filter=lfs diff=lfs merge=lfs -text
